@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@300;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

:root {
    --primary-color: #0077ff;
    --txt-color: #555;
    --box-shadow: rgba(0,0,0,0.1);
    --box-shadow-3d: rgba(0,0,0,0.15);
    --box-shadow-light: rgba(255, 255, 255, 0.61);
    --light-color: #fff;
    --dark-color: #2b2a2a;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--light-color);
}

body.active::-webkit-scrollbar-track {
    background: var(--dark-color);
}

body::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 20px;
}

body.active::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom , var(--primary-color), transparent);
}

.container {
    width: 100%;
    background: var(--light-color);
    position: relative;
    transition: 0.2s;
    animation: opacity 0.4s;
}

@keyframes opacity {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container.active {
    background: var(--dark-color);
}

/* header navigation top */

.container header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--light-color);
    box-shadow: 0 0 8px var(--box-shadow);
    z-index: 10;
}

.container.active header {
    background: var(--dark-color);
    box-shadow: 0 0 2px var(--box-shadow-light);
}

.container header .nav {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container header .nav .logo {
    font-size: 1.8em;
    color: var(--txt-color);
}

.container.active header .nav .logo {
    color: var(--light-color);
}

.container header .nav .logo span {
    color: var(--primary-color);
}

.container header .nav .toggle-mode {
    background: var(--primary-color);
    width: 70px;
    height: 35px;
    border-radius: 20px;
    line-height: 35px;
    cursor: pointer;
    box-shadow: inset 1px 1px 0 var(--box-shadow-3d),
                inset -1px -1px 0 var(--box-shadow-3d);
    position: relative;
}

.container header .nav .toggle-mode::before {
    position: absolute;
    content: "";
    top: 2px;
    left: 4px;
    width: 30px;
    height: 30px;
    background: var(--light-color);
    border-radius: 50%;
    box-shadow: 0 0 15px var(--box-shadow);
    transition: 0.3s linear;
}

.container.active header .nav .toggle-mode::before {
    left: 36px;
}

/* navigation fixed navbar */

.container .nav-bar {
    position: fixed;
    bottom: 40px;
    left: 38%;
    width: 360px;
    height: 60px;
    padding: 10px;
    background: var(--primary-color);
    border-radius: 30px;    
    z-index: 11;
    box-shadow: 0 0 14px var(--box-shadow);
}

.container.active .nav-bar {
    background: var();
}

.container.active .nav-bar {
    box-shadow: 0 0 2px var(--box-shadow-light);
}

.container .nav-bar ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.container .nav-bar ul li {
    list-style: none;
}

.container .nav-bar ul li a {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
    text-transform: capitalize;
    transition: 0.4s ease-in-out;
}

.container .nav-bar ul li a:hover span {
    background: var(--primary-color);
    padding: 4px 10px;
    color: var(--light-color);
    border-radius: 4px;
    position: absolute;
    top: -50px;
    z-index: 11;
}

.container.active .nav-bar ul li a:hover span {
    background: var();
}

.container .nav-bar ul li a:hover span::before {
    position: absolute;
    content: "";
    border: 6px solid var(--primary-color);
    top: 21px;
    left: 28px;
    transform: rotate(40deg);
    z-index: 10;
}

.container .nav-bar ul li:last-child a:hover span::before {
    left: 38px;
}

.container .nav-bar ul li:nth-child(2) a:hover span::before {
    left: 25px;
}

.container .nav-bar ul li a:hover {
    background: var(--light-color);
    border-radius: 50%;
    color: var(--primary-color);
}

.container .nav-bar ul li a:hover i {
    font-size: 18px;
}

.container .nav-bar ul li a.active span {
    background: var(--primary-color);
    padding: 4px 10px;
    color: white;
    border-radius: 4px;
    position: absolute;
    top: -50px;
    z-index: 11;
}

.container .nav-bar ul li a.active span::before {
    position: absolute;
    content: "";
    border: 6px solid var(--primary-color);
    top: 21px;
    left: 28px;
    transform: rotate(40deg);
    z-index: 10;
}

.container .nav-bar ul li a.active {
    background: var(--light-color);
    border-radius: 50%;
    color: var(--primary-color);
}

.container .nav-bar ul li a.active i {
    font-size: 18px;
}

.container .nav-bar ul li:last-child a.active span::before {
    left: 38px;
}

.container .nav-bar ul li:nth-child(2) a.active span::before {
    left: 25px;
}

/* content page main */

.container .main {
    width: 60%;
    margin: 0 auto;
}

/* home section */
.container .main .home {
    width: 100%;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.container .main .home .side-left {
    font-size: 2em;
    color: var(--txt-color);
    margin-top: -22px;
    line-height: 1.6;
    animation: animated 0.8s ease;
    transition: opacity 0.6s;
}

@keyframes animated {
    from {
        transform: translateY(-900px);
        opacity: 0.5;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.container.active .main .home .side-left {
    color: var(--light-color);
}

.container .main .home .side-left h3 {
    font-size: 2em;
    color: transparent;
    -webkit-text-stroke: 2px var(--primary-color);
    position: relative;
    top: .3em;
}

.container .main .home .side-left h3::after {
   position: absolute;
   content: attr(data-text);
   top: 0;
   left: 0;
   width: 0px;
   overflow: hidden;
   animation: animation2 2s linear infinite;
}

@keyframes animation2 {
    from {
        width: 0px;
    }

    to {
        width: 170px;
        color: var(--primary-color);
    }
}

.container .main .home .side-left h3::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background: #34b2f117;
    border-radius: 50%;
    left: 10rem;
    top: -5rem;
    animation: efect 5s infinite ease;
}

@keyframes efect {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 3;
        background: #38b7f754;
    }
    100% {
        opacity: 100%;
    }
}

.container .main .home .side-left h2 {
    font-size: 1.3em;
    position: relative;
}

.container .main .home .side-left h2::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: #47b5ff86;
    border-radius: 5px;
    transform: rotate(20deg);
    left: 9rem;
    top: -7rem;
    animation: rotate 1s ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg);
    }
}

.container .main .home .side-left h2 span {
    color: var(--primary-color);
}

.container.active .main .home .side-left h2 span {
    color: var();
}

.container .main .home .side-left h4 {
    font-size: 1em;
    padding-bottom: 1em;
}

.container .main .home .side-left a {
    padding: 14px;
    background: var(--primary-color);
    color: var(--light-color);
    border-radius: 2px;
    box-shadow: inset 3px -3px 0 var(--box-shadow-3d);
    font-size: 0.8em;
}

.container.active .main .home .side-left a {
    background-color: var();
}

.container .main .home .side-left a:hover {
    filter: brightness(0.9);
    box-shadow: inset -3px 3px 0 var(--box-shadow-3d);
}

.container .main .home .side-right img {
    width: 560px;
    position: relative;
    top: -30px;
}

.container .main .home .icons {
    position: absolute;
    bottom: 120px;
    font-size: 1.3em;
    display: flex;
    gap: 18px;
}

.container .main .home .icons a {
    color: var(--txt-color);
}

.container.active .main .home .icons a {
    color: var(--light-color);
}

.container .main .home .icons a:hover {
    color: var(--primary-color);
}

/* skills section */
.container .main .container-skills {
    width: 100%;
    height: 100vh;
}

.container .main .container-skills .title-skill {
    position: relative;
    top: 15px;
    margin: 0 auto ;
    text-align: center;
    position: relative;
    top: 80px;
    color: var(--primary-color);
    font-size: 1.5em;
    width: 100px;
    border-bottom: 3px solid var(--primary-color);
}

.container .main .container-skills .info-skils {
    position: relative;
    top: 9%;
    padding-top: 3vmin;
    text-align: left;
    padding-bottom: 3vmin;
    color: var(--txt-color);
    animation: text2 1s ease-in-out;
}

.container.active .main .container-skills .info-skils {
    color: #f8f8f8;
}

@keyframes text2 {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.container .main .container-skills .info-skils h3 {
    font-size: 1.5em;
    font-weight: bolder;
}

.container .main .container-skills .info-skils p {
    /* padding-top: 1.8vmin; */
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--txt-color);
}

.container.active .main .container-skills .info-skils p {
    color: #ccc;
}

.container .main .container-skills .skills {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 12%;
    gap: 18px;
}

.container .main .container-skills .skills .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 70vmin;
    height: 7vmin;
    background: var(--light-color);
    padding: 4vmin 3vmin;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--box-shadow);
    position: relative;
    overflow: hidden;
}

.container.active .main .container-skills .skills .box {
    background: #313131;
}

.container .main .container-skills .skills .box h3 {
    color: #555555;
}

.container.active .main .container-skills .skills .box h3 {
    color: var(--light-color);
}

.container .main .container-skills .skills .box i {
    font-size: 1.7em;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.container .main .container-skills .skills .box i h2 {
    font-size: 18px;
    color: var(--txt-color);
}

.container.active .main .container-skills .skills .box i h2 {
    color: var(--light-color);
}

.container .main .container-skills .skills .box::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 0%;
    height: .7vmin;
    background: var(--primary-color);
    transition: 1s width;
}

.container .main .container-skills .skills .box.show:nth-child(1)::before {
    width: 100%;
}

.container .main .container-skills .skills .box.show:nth-child(2)::before {
    width: 95%;
}

.container .main .container-skills .skills .box.show:nth-child(3)::before {
    width: 60%;
}

.container .main .container-skills .skills .box.show:nth-child(4)::before {
    width: 99%;
}

.container .main .container-skills .skills .box.circle {
    position: absolute;
    top: 0;
    right: 18px;
    width: 290px;
    height: 290px;
    background: var(--light-color);
    border-radius: 50%;
    border: 9px solid var(--primary-color);
    border-left-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transform: rotate(30deg) scale(0.6);
    transition: transform 2s;
}

.container .main .container-skills .skills .box.show.circle {
    transform:  rotate(30deg) scale(1);
}

.container.active .main .container-skills .skills .box.circle {
    border-left-color: #555;
    background: #313131;
}

.container .main .container-skills .skills .box.circle h3 {
    transform: rotate(-30deg);
    position: relative;
}

.container .main .container-skills .skills .box.circle h3::before {
    position: absolute;
    content: "Web Design";
    top: 45px;
    left: -40px;
    width: 290px;
    color: var(--txt-color);
    font-size: 26px;

}

.container.active .main .container-skills .skills .box.circle h3::before {
    color: var(--light-color);
}

/* Desing responsive */

@media (max-width: 1393px) {
    .container header .nav {
        width: 80%;
    }
    
    .container .main {
        width: 80%;
    }

    .container .main .container-skills .skills .box.circle {
        right: 10px;
    }
}

@media (max-width: 1040px) {
    .container header .nav {
        width: 90%;
    }
    
    .container .main {
        width: 90%;
    }

    .container .nav-bar {
        left: 32%;
    }

    .container .main .home .side-left {
        animation: none;
    }

    .container .main .container-skills .skills .box.circle {
        right: 3px;
    }
}

@media (max-width: 921px) {
    .container header .nav {
        width: 80%;
    }

    .container .nav-bar {
        left: 26%;
    }
    
    .container .main {
        width: 80%;
    }

    .container .main .home {
        justify-content: center;
        flex-direction: column-reverse;
        text-align: center;
    }

    .container .main .home .side-left {
        margin-top: -26px;
    }

    .container .main .home .side-right img {
        position: relative;
        top: 10px;
        width: 360px;
    }

    .container .main .home .side-left h3::before {
       display: none;
    }

    .container .main .home .side-left h3::after {
        left: 28%;
    }

    .container .main .home .side-left h2::after {
        display: none;
    }

    .container .main .home .icons {
        bottom: 0;
        left: 15px;
    }

    .container .main .container-skills .title-skill {
        top: 0;
    }

    .container .main .container-skills .info-skils {
        text-align: center;
        position: relative;
        top: 10px;
    }

    .container .main .container-skills .skills {
        align-items: center;
        flex-direction: column-reverse;
        position: relative;
        top: 24px;
    }

    .container .main .container-skills .skills .box.circle {
        position: relative;
    }
}

@media (max-width: 768px) {
    .container header .nav {
        width: 80%;
    }

    .container .nav-bar {
        left: 24%;
    }
    
    .container .main {
        width: 80%;
    }

    /* .container .main .home {
        margin-top: 50px;
    } */

    .container .main .home .side-left {
        position: relative;
        top: -18px;
    }

    .container .main .home .side-right img {
        width: 80%;
        position: relative;
        top: -40px;
    }

    .container .main .home .icons {
        bottom: 30px;
        left: 15px;
    }
}

@media (max-width: 580px) {

    .container .nav-bar {
        width: 70%;
        left: 16%;
    }

    .container .main .home {
        margin-top: 5px;
    }

    .container .main .home .side-left  {
        font-size: 26px
    }

    .container .main .home .side-left h3::after {
        display: none;
    }

    .container .main .container-skills .skills {
        width: 100%;
    }

    .container .main .container-skills .skills .box {
        width: 100%;
        height: 9vmin;
    }
}

@media (max-width: 480px) {
    .container .main .home {
        margin: 0;
    }

    .container .nav-bar {
        width: 75%;
        left: 14%;
    }

    .container .main .home .icons {
        bottom: 100px;
        left: 10px;
    }
}

@media (max-width: 433px) {
    .container header .nav {
        width: 90%;
    }

    .container .nav-bar {
        width: 82%;
        left: 8%;
    }

    .container .nav-bar ul {
        gap: 15px;
    }

    .container .nav-bar ul li a:hover span::before {
        top: 23px;
    }

    .container .main .home .side-left  {
        font-size: 22px
    }

    .container .main .home .icons {
        bottom: 95px;
        left: 10px;
    }

    .container .main .home .side-left h3 {
        letter-spacing: 6px;
        -webkit-text-stroke: 1px var(--primary-color);
    }

    .container .main .container-skills .info-skils {
        position: relative;
        top: 35px;
    }

    .container .main .container-skills .skills {
        position: relative;
        top: 65px;
    }

    .container .main .container-skills .skills .box {
        width: 100%;
        height: 10vmin;
    }

    .container .main .container-skills .skills .box.circle {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 390px) {

    .container .nav-bar {
        width: 90%;
        left: 4%;
    }

    .container header .nav {
        width: 90%;
    }

    .container .main .home .side-left  {
        font-size: 20px
    }

    .container .main .container-skills .skills .box {
        width: 100%;
        height: 11vmin;
        
    }

    .container .main .container-skills .skills .box i h2 {
        font-size: 14px;
    }
}

@media (max-width: 370px) {
    .container .main .home .side-left  {
        font-size: 18px
    }
}